<br>

<h4>League Ratings:</h4>

{{ form_start(league_ratings_form) }}
<table>
    <tr>
        <td>{{ form_label(league_ratings_form.league) }}</td>
        <td>{{ form_widget(league_ratings_form.league) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(league_ratings_form.ratingsType) }} &nbsp;</td>
        <td>{{ form_widget(league_ratings_form.ratingsType) }}</td>
    </tr>
</table>

<input type="button" value=" Go! " onclick="getLeaguePage()">
{{ form_end(league_ratings_form) }}

<p>&nbsp;</p>

<h4>Team Ratings:</h4>

{{ form_start(team_ratings_form) }}
<table>
    <tr>
        <td>{{ form_label(team_ratings_form.team) }}</td>
        <td>{{ form_widget(team_ratings_form.team) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(team_ratings_form.ratingsType) }} &nbsp;</td>
        <td>{{ form_widget(team_ratings_form.ratingsType) }}</td>
    </tr>
</table>

<input type="button" value=" Go! " onclick="getTeamPage()">

{{ form_end(team_ratings_form) }}